---
import MainLoyout from "../layouts/MainLoyout.astro";
import ProductsComponent from "../components/ProductsComponent.astro";
---

<MainLoyout>
  <ProductsComponent>
    <h2 class="h2-products">Amazon Fashion</h2>
  </ProductsComponent>
</MainLoyout>
