---

---

<style>
  .footer {
    background-color: #232f3e;
    padding: 30px 0;
  }

  .h5 {
    color: #fff;
    margin-bottom: 20px;
  }

  .ul li {
    list-style-type: none;
    margin-bottom: 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .div-second {
    border-top: 1px solid #ffffff2a;
  }

  .amazonLogo {
    width: 100px;
  }

  .flagUsa {
    width: 20px;
    display: flex;
    align-items:;
  }
</style>

<footer class="footer">
  <div class="container div-container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <h5 class="h5">Get to Know Us</h5>
        <ul class="ul">
          <li>
            <a href="#">Carrers</a>
          </li>
          <li>
            <a href="#">Amazon<br />Newslester</a>
          </li>
          <li>
            <a href="#">About Amazon</a>
          </li>
          <li>
            <a href="#">Accesibility</a>
          </li>
          <li>
            <a href="#">Sustainability</a>
          </li>
          <li>
            <a href="#">Press Center</a>
          </li>
          <li>
            <a href="#">Investor Relations</a>
          </li>
          <li>
            <a href="#">Amazon Devices</a>
          </li>
          <li>
            <a href="#">Amazon Science</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <h5 class="h5">Make Money With Us</h5>
        <ul class="ul">
          <li>
            <a href="#">Carrers</a>
          </li>
          <li>
            <a href="#">Amazon<br />Newslester</a>
          </li>
          <li>
            <a href="#">About Amazon</a>
          </li>
          <li>
            <a href="#">Accesibility</a>
          </li>
          <li>
            <a href="#">Sustainability</a>
          </li>
          <li>
            <a href="#">Press Center</a>
          </li>
          <li>
            <a href="#">Investor Relations</a>
          </li>
          <li>
            <a href="#">Amazon Devices</a>
          </li>
          <li>
            <a href="#">Amazon Science</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <h5 class="h5">Amazon Payment Products</h5>
        <ul class="ul">
          <li>
            <a href="#">Carrers</a>
          </li>
          <li>
            <a href="#">Amazon<br />Newslester</a>
          </li>
          <li>
            <a href="#">About Amazon</a>
          </li>
          <li>
            <a href="#">Accesibility</a>
          </li>
          <li>
            <a href="#">Sustainability</a>
          </li>
          <li>
            <a href="#">Press Center</a>
          </li>
          <li>
            <a href="#">Investor Relations</a>
          </li>
          <li>
            <a href="#">Amazon Devices</a>
          </li>
          <li>
            <a href="#">Amazon Science</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3">
        <h5 class="h5">Let Us Help You</h5>
        <ul class="ul">
          <li>
            <a href="#">Carrers</a>
          </li>
          <li>
            <a href="#">Amazon<br />Newslester</a>
          </li>
          <li>
            <a href="#">About Amazon</a>
          </li>
          <li>
            <a href="#">Accesibility</a>
          </li>
          <li>
            <a href="#">Sustainability</a>
          </li>
          <li>
            <a href="#">Press Center</a>
          </li>
          <li>
            <a href="#">Investor Relations</a>
          </li>
          <li>
            <a href="#">Amazon Devices</a>
          </li>
          <li>
            <a href="#">Amazon Science</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="div-second">
    <div class="container">
      <div class="row justify-content-center align-items-center g-3">
        <div class="col-auto">
          <img
            src="/assets/amazon-logo.png"
            alt="Amazon Logo"
            class="amazonLogo"
          />
        </div>

        <div class="col-auto">
          <div class="dropdown">
            <button
              class="btn btn-outline-secondary d-flex align-items-center gap-2 text-white"
              type="button"
            >
              <i class="bi bi-globe"></i>
              English
              <i class="bi bi-caret-down-fill"></i>
            </button>
          </div>
        </div>

        <div class="col-auto">
          <button
            class="btn btn-outline-secondary d-flex align-items-center gap-2 text-white"
          >
            <img src="/assets/flag-usa.png" alt="USA Flag" class="flagUsa" />
            United States
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
