---
import type { Product } from "../interfaces/IProducts";

const result = await fetch("https://fakestoreapi.com/products");
const products: Product[] = await result.json();
---

<style>
  .cont {
    background-color: #535b642c;
    border-radius: 20px;
  }

  .div-col {
    /* display: grid; */
    /* justify-content: center; */
    /* background-color: #000000; */
    /* border-radius: 50px; */
    cursor: pointer;
  }

  .div-col:hover {
    box-shadow: 0 4px 20px #2d2d2d5a;
    transition: box-shadow 0.3s ease;
    border: none;
    transform: scale(1.03);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .div-text {
    /* background-color: #232f3e58; */
  }

  .btnCart {
    width: 70%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    background-color: #fabc66;
    /* background-color: #232f3e; */
    color: #000000;
    /* color: #fff; */
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .btnCart:hover {
    background-color: #d59f53;
  }
</style>

<main>
  <div class="container cont d-flex justify-content-center">
    <div class="row">
      <div class="col-auto">
        <slot />
      </div>
    </div>
  </div>

  <div class="container my-4">
    <div class="row g-4">
      {
        products.map((product) => (
          <div class="col-lg-3 col-md-6 col-sm-12 div-col">
            <div class="card h-100">
              <img
                src={product.image}
                class="card-img-top "
                alt={product.title}
                style="height: 200px; object-fit: contain;"
              />
              <div class="card-body div-text">
                <h5 class="card-title">{product.title}</h5>
                <p class="card-text">${product.price}</p>
              </div>
              <button class="btnCart mx-auto d-block">add to cart</button>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</main>

<script>
  // const col = document.querySelectorAll("div.div-col");

  document.addEventListener("DOMContentLoaded", () => {
    const cols = document.querySelectorAll("div.div-col");

    cols.forEach((col) => {
      col.addEventListener("click", () => {
        console.log("Hola");
      });
    });
  });
</script>
